# DATABASE
DATABASE_URL=postgres://media:media@localhost:5432/media_pipeline?sslmode=disable

# TRASCODER SERVICE
TRANSCODER_ADDR = 
TRANSCODER_WORKERS =

# WATCHDOG SERVICE
WATCHDOG_FOLDER = 
WATCHDOG_OUTPUT = 
WATCHDOG_DELAY = 
NUM_WORKERS = 
QUEUE_CAPACITY = 
